.button_uf,.button_documents{
    border-radius: 5px;
    height: 30px;
    width: 35px;
    border: none;
    font-size: 15px;
    margin-right: 5px;
    color:#fff;
    background-color: rgb(179, 218, 218);
    margin-top: 2px;
}
.button_documents{
    width: 60px;
}
#ufs,#document_types{
    margin-top: 30px;
    margin-left: 20px
}
#grafico{
    margin-top: 50px;
}